.choresText {
   color: purple;
   font: arial;
   font-size: 18px;
   font-style: italic;
   text-align: left;
   border: dotted;
}

.choresHeading {
   color: plum;
   font: arial;
   font-size: 20px;
   text-decoration: underline;
   text-align: left;
}